<?php

/**
 * 用户服务接口
 */
class UserService extends BaseService
{
	function run() 
	{
		switch(method())
		{
			case 'get'://获取单个用户信息/分页获取用户信息
				$result = $this->search();
				break;
			case 'post'://修改用户信息
				$result = $this->update();
				break;
			case 'put'://添加用户信息
				$result = $this->add();
				break;
			case 'delete'://删除用户
				$result = $this->delete();
				break;
			default:// todo 不支持操作异常处理
				$this->response(-1, [], '请求异常');
		}		
	}

	function add() 
	{
		
	}

	function update() 
	{

	}
	
	function delete() 
	{

	}
	
	function search() 
	{
		$this->response(0, [], '');
	}
}
